<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LambdaConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - [%X{awsRequestId}] %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
      
        <!-- Limit AWS SDK logging to ERROR level only -->
        <Logger name="software.amazon.awssdk" level="error" additivity="false">
            <AppenderRef ref="LambdaConsole"/>
        </Logger>
    
        <Root level="debug">
            <AppenderRef ref="LambdaConsole"/>
        </Root>
    </Loggers>
</Configuration>
